/* css\base.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 1rem;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  line-height: 1.5;
  color: var(--primary-color-shade-1);
  background-color: var(--primary-color-shade-8);
  transition:
    background-color 0.3s,
    color 0.3s;
}
